<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- The value is in kilobytes. This sets the limit to 1024 MB. -->
    <httpRuntime maxRequestLength="1048576" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- The value is in bytes. This sets the limit to 1024 MB. -->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>